.container {
  display: grid;
  grid-template-columns: repeat(3, 100px);
  grid-template-rows: repeat(3, 50px);
  min-height: 100vh;
  align-content: center;
  justify-content: center;
}

.container .box {
  border: 1px solid black;
  text-align: center;
  height:100%;
}
